
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #111111;
  z-index: 50;
  transition: opacity 500ms ease-in-out;
}
.loading img {
  width: 50vw;
  max-width: 500px;
}